.catalogo {
    max-width: 900;
}

/* CARD */

.card {
    border: none;
    max-width: 225px; 
    margin: 0 auto;
}

.badge {
    border-radius: 0;
    position: absolute; 
    top: 10px;
    padding: 10px;
    background-color: #38cb89;
}

.card .text-promotion {
    color: #38cb89;
}

/* BLUE BUTTON */

a.btn-dark-blue {
    max-width: 400px;
    padding: 10px 18px;
    border-radius: 0;
    border: 2px solid #1817D4;
    background-color: #1817D4;
    color: white;
    font-weight: 600;
    transition: .2s;   
}

a.btn-dark-blue:hover {
    background-color: white;
    color: #1817D4;
}

/* FOOTER */

footer {
    background-color: black;
}

footer img {
    max-width: 200px;
}

footer a:hover {
    text-decoration: underline !important;
    color: #dcb292 !important;
}

/* CONTATO - FORM */

form .form-control {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #f8f8f8;
}

form .btn-dark {
    background-color: black;
    border: 2px solid black;
    border-radius: 0;
    font-size: small;
    padding: 11px 34px;
    transition: all 0.3s ease;
}
  
form .btn-dark:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0;
    font-size: small;
    padding: 11px 34px;
}